.work__container {
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}
.work__card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(-shadow);
  margin-bottom: 1.25rem;
}

.work__mask {
  background-color: rgb(150, 148, 141);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}
.work__card:hover .work__mask {
  opacity: 0.9;
}
.work__title {
  color: #fff;
  font-size: var(--h2-font-size);
  
  padding: 0 1.25rem;
  position: absolute;
  top: 0rem;
  z-index: 99;
  transform: translateY(3px);
  transition: 0.3s;
  opacity: 0;
}
.work__desc {
  color: #fff;
  font-size: var(--h3-font-size);
  padding: .5rem;
  font-size: .9rem;
  position: absolute;
  top: 1.75rem;
  z-index: 99;
  transform: translateY(14px);
  transition: 0.3s;
  opacity: 0;
}
.work__button-container {
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding-bottom: 1rem;
}
.work__button {
  position: relative;
  border-radius: 25px;
  text-align: center;
  z-index: 999;
  transition: 0.3s;
  opacity: 0;
  margin-left: .2rem;
  margin-right: .2rem;
}
.work__button:hover {
  background-color: #262525;
  color: #fff;

}
.work__card:hover .work__button {
  opacity: 1;
}
.work__card:hover .work__title {
  opacity: 1;
}
.work__card:hover .work__desc {
  opacity: 1;
}
@media (min-width: 400px) {
  .work__title {
    font-size: var(--h2-font-size);
    padding: 0 1.25rem;
    position: absolute;
    top: .1rem;
    z-index: 99;
    transform: translateY(1px);
    transition: 0.3s;
    opacity: 0;
  }
  .work__desc {
    color: #fff;
    font-size: var(--h3-font-size);
    top: .8rem;
    transform: translateY(30px);
  
  }
}

@media (min-width: 768px) {
  .work__container {
    grid-template-columns: repeat(2, 1fr);
  }
  

  .work__img {
    border-radius: var(--border-radius);
    width: 400px;
    height: 300px;
  }
}
