.contact.section {
    padding-bottom: 6.25rem;

}
.contact__container {
    grid-template-columns: repeat(1, 1fr);
   
}
.contact__title {
    font-size: var(--h2-font-size);
    font-family: "Sue Ellen Francisco", cursive;
    margin-bottom:  .5rem;
}
.contact__form-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    column-gap: 1.5rem;

}
.contact__form-div {
    position: relative;
    margin-bottom: 1.875rem;
    height: 3.75rem;

}
.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 1.875rem;
    padding: 0.625rem 1.875rem;
    z-index: 1;
   
}
.contact__form-area {
    height: 10.25rem;
}
.contact__form-area textarea {
    resize: none;

}
.error__message {
font-size: 1rem;
padding-top: 3.6rem;
padding-left: 1.2rem;
}
.error__message-green {
    color: rgb(46, 168, 46);
    padding-bottom: 1rem;
   font-size: 1.2rem;
}
.error__message-message {
    font-size: 1rem;
    padding-top: 10.5rem;  
}
@media (min-width: 768px) {
  
    .contact__container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1.875rem;
    }

    .contact__form-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        column-gap: 1.5rem;
    
    }
}