.aside {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--body-color);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.nav__link {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: var(--shadow);
  border-radius: 150px;
  padding: 0.4em;
}
@keyframes glow-icon {
  0% {
    box-shadow: 0 0 25px #ffffff;
  }
  50% {
    box-shadow: 0 0 30px rgb(16, 24, 254);
  }
  100% {
    box-shadow: 0 0 30px rgb(5, 13, 249);
  }
}

.nav__link:hover {
  animation: glow-icon 2s infinite;
}

.copyright {
  color: hsl(245, 15%, 65%);
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.initials {
  font-size: 1.3em;
  color: black;
}
/*********Dark Mode********/
.dark-mode.aside .initials {
  color: #fff;
}
.dark-mode.aside .nav .nav__link {
  color: #fff;
}
.dark-mode.aside .nav__footer .copyright {
  color: #fff;
}

@keyframes glow-icon-dark {
  0% {
    box-shadow: 0 0 15px #fdfdfd;
  }
  50% {
    box-shadow: 0 0 20px #2196f3;
  }
  100% {
    box-shadow: 0 0 15px #2196f3;
  }
}

.dark-mode .nav__link:hover {
  animation: glow-icon-dark 1s infinite;
}
